/* Default */
body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-size: 16px;
	background-color: #303841;
	color: #d8dee9;
}
h1,h2,h3,p,ol,ul,li,a {
	font-family: sans-serif;
}
h1,h2,h3 {
	font-family: sans-serif;
	color: #EDEDED;
}
h2 {
	font-size: 1.3em;
}
a {
	font-weight: bold;
	color: #EDEDED;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
a:hover {
	color: #848b95;
}
code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img {
	width: 100%;
	height: auto;
}
section.main {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}

.TopBanner-body {
    min-height: 2.5rem;
    border-radius: 0.625rem;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0.625rem 0.9375rem;
    align-items: center;
}

.SearchMini-input, .SearchMini-input:focus, .SearchMini-input:hover {
    background: #fff;
    width: 100%;
    margin: 0!important;
    height: 3.1875rem;
    border: 0px solid transparent;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    padding: 1rem 0.8125rem;
}


.button_slide {
	color: black;
	border: 2px solid white;
	border-radius: 25px;
	padding: 10px 36px;
	display: inline-block;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 white;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
  }
  
  .slide_down:hover {
	box-shadow: inset 0 100px 0 0 white;
  }


 /* Container needed to position the button. Adjust the width as needed */
.container {
	position: relative;
	width: 80%;
  }
  
  /* Make the image responsive */
  .container img {
	width: 100%;
	height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
	position: absolute;
	top: 84%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: none;
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
	font-size: 16px;
	padding: 10px 24px;
	border: none;
	cursor: pointer;
	border-radius: 25px;
	box-shadow: inset 0 0 0 0 #555;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
  }
  
  .container .btn:hover {
	box-shadow: inset 0 100px 0 0 #555;
	color: white;
  }

  .container .fig {
	position: absolute;
	top: 6%;
	left: 5%;
	color: #555;
	font-family: "Helvetica";
	font-size: 50px;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	cursor: pointer;

  }
  .container .fig:hover {
	color: white;
  }

  .Footer-newsletter {
	background-color: #F2F1EF;
	color: #414042;
	padding: 10px 24px;
	padding-bottom: 1rem;
  }


  .SearchMini-input-2, .SearchMini-input-2:focus, .SearchMini-input-2:hover {
    background: #fff;
    width: 70%;
    margin: 0!important;
    height: 1.5rem;
    border: 0px solid transparent;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    padding: 1rem 0.8125rem;
}


 .btn-2 {
	background-color: white;
	font-family: "Helvetica";
	font-size: 16px;
	padding: 1.2rem 1rem;
	border: 0px solid transparent;
	border-radius: 10px;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	cursor: pointer;
 }

 .btn-2:hover {
	box-shadow: inset 0 100px 0 0 #555;
	color: white;
 }
/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 5rem 2rem;
	}
}