/* Default */
body {
	width: 80%;
	margin: 0;
	padding-left: 1rem;
	height: auto;
	line-height: 1.1;
	letter-spacing: 0.03em;
	font-size: 20px;
	background-color: #EFECEA;
	color: #143A2B;
}
h1,h2,h3,p,ol,li,a {
	font-family: avenir;
}
h1,h2,h3 {
	font-family: sans-serif;
}

h1 {
	font-size: 55px;
	color: #C773A1;
	font-family: peridot-pe-variable, sans-serif;
	padding-bottom: 1rem;
	letter-spacing: 0em;

}

h2 {
	font-size: 1.3em;
	
}
a {
	font-weight: bold;
	color: #143A2B;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
a:hover {
	color: #E6E7E8;
}
code, pre {
	background-color: #22262a;
	color: #EDEDED;
	border-radius: 4px;
	padding: 0 0.25em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
img {
	width: 100%;
	height: auto;
}
section.main {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
	transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
p.copyright {
	margin: 0 auto;
	margin-bottom: 0.5em;
    text-align: center;
    color: #333333;
}



.TopBanner-body {
    min-height: 2.5rem;
    border-radius: 0.625rem;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0.625rem 0.9375rem;
    align-items: center;

}

.SearchMini-input, .SearchMini-input:focus, .SearchMini-input:hover {
    background: #fff;
    width: 100%;
    margin: 0!important;
    height: 3.1875rem;
    border: 0px solid transparent;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    padding: 1rem 0.8125rem;

}


.button_slide {
	color: black;
	border: 2px solid white;
	border-radius: 25px;
	padding: 10px 36px;
	display: inline-block;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 white;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
  }
  
  .slide_down:hover {
	box-shadow: inset 0 100px 0 0 white;
  }


 /* Container needed to position the button. Adjust the width as needed */
.container {
	position: relative;
	width: 80%;
  }
  
  /* Make the image responsive */
  .container img {
	width: 100%;
	height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
	position: absolute;
	top: 84%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: none;
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
	font-size: 16px;
	padding: 10px 24px;
	border: none;
	cursor: pointer;
	border-radius: 25px;
	box-shadow: inset 0 0 0 0 #555;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	
  }
  
  .container .btn:hover {
	box-shadow: inset 0 100px 0 0 #555;
	color: white;
  }

  .container .fig {
	position: absolute;
	top: 6%;
	left: 5%;
	color: #555;
	font-family: "Helvetica";
	font-size: 50px;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	cursor: pointer;

  }
  .container .fig:hover {
	color: white;
  }

  .Footer-newsletter {
	background-color: #F2F1EF;
	color: #414042;
	padding: 10px 24px;
	padding-bottom: 1rem;
  }


  .SearchMini-input-2, .SearchMini-input-2:focus, .SearchMini-input-2:hover {
    background: #fff;
    width: 70%;
    margin: 0!important;
    height: 1.5rem;
    border: 0px solid transparent;
    border-radius: 0.625rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    padding: 1rem 0.8125rem;
}


 .btn-2 {
	background-color: white;
	font-family: "Helvetica";
	font-size: 16px;
	padding: 1.2rem 1rem;
	border: 0px solid transparent;
	border-radius: 10px;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	cursor: pointer;
 }

 .btn-2:hover {
	box-shadow: inset 0 100px 0 0 #555;
	color: white;
 }

 
/* Breakpoint */
@media screen and (max-width: 700px) {
	section.main {
		margin: 5rem 2rem;
	}
}

/* personalized */

* {
	margin-left: 0rem;
	padding: 0;
	box-sizing: border-box;
}

/* floating panel */

.grid-item {
	margin-top: 3rem;
}

.rectangle {
	width: 850px;
	height: 360px;
	background: black;
	position: absolute;
	margin-left: 4rem;

}

h2 {
	position: absolute;
	font-family: 'Mulish', sans-serif;
	color: white;
	font-size: 30px;
	margin-top: 3rem;
	margin-left: 19rem;

}

.grid-container p {
	position: absolute;
	margin-left: 10rem;
	margin-right: 25rem;
	margin-top: 6rem;
	color: #f2f2f2;
	font-size: 16px;
	font-family: 'Mulish', sans-serif;
	text-align: center;
	line-height: 20.5px;

}

.button-2 {
	position: absolute;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: #003F53;
	color: #fff;
	border-radius: 10px;
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	margin-left: 25rem;
	margin-top: 18rem;
}

.button-2:hover {
	background-color: lightblue;
	color: black;
	transition: background-color 0.5s ease-in-out;

}

/* header */


.headerimg {
	margin-top: 3rem;
	width: 15%;
}

.headerimg-2 {
	margin-top: 4rem;
	margin-bottom: 6rem;
	margin-left: 25rem;
	width: 80%;

}

.navigation {
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 0;
	margin: 0;
	Font-size: 16px;
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	Margin-left: 45rem;
	

}

ul {
	List-style-type: none;
	margin: 0;
    padding: 0;
    display: flex;
}

li {

	display: inline-block;
	margin-right: 25px;
	/* the spacing between the words */

}

ul li a {
	Text-decoration: none;
	Color: black;

}

.bottom-right {
	font-size: 40px;
	margin-top: 9rem;
	margin-left: 3rem;
	font-family: 'Mulish', sans-serif;
	position: absolute;
	line-height: 2.5rem;
	margin-bottom: 5rem;
	color: black;

}

.bottom-left {
	font-size: 30px;
	font-family: 'Cedarville Cursive', cursive;
	margin-top: -5rem;
	line-height: 3rem;
	margin-bottom: 3rem;
	color: black;

}

/* 2 column grid */

.grid-container-1 {
	margin-top: 32rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* Two equal-width columns */
	grid-gap: 50px;
	/* Gap between columns */
}

.grid-item-1 {
	font-size: 40px;
	font-family: 'Cedarville Cursive', cursive;
	font-weight: 800;
	color: black;
}

figcaption {
	position: absolute;
	margin-top: 3rem;
	margin-right: 44rem;
	color: black;
	font-size: 16px;
	font-family: 'Mulish', sans-serif;
	font-weight: 600;

}

.grid-item-2  {
	position: relative;
	left: 14rem;
	width: 160%;


}

/* 4 column grid */

h4 {
	font-family: 'Mulish', sans-serif;
	color: black;
	font-size: 30px;
	margin-left: 25rem;
	margin-top: 4rem;
	margin-bottom: 3rem;

}

.grid-container-2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;

}


.grid-item-3 {
	background-color: #f2f2f2;
	padding: 20px;
	height: 22rem;
	width: 16rem;
	margin-bottom: 3rem;
	font-family: 'Mulish', sans-serif;
	font-weight: 800;

}

.grid-item-3 li {
	color: black;
	font-size: 15px;
	font-family: 'Cedarville Cursive', cursive;
	line-height: 2rem;
	margin-left: 0.5rem;

}

.grid-item-3 ul {
	List-style-type: none;
	font-family: 'Cedarville Cursive', cursive;
	font-size: 18px;
	margin-top: 2rem;

}

.button-3 {
	position: absolute;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: #003F53;
	color: #fff;
	border-radius: 10px;
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	margin-top: 2rem;
	margin-left: 1.5rem;

}

.button-3:hover {
	background-color: lightblue;
	color: black;
	transition: background-color 0.5s ease-in-out;

}

.grid-item-3 h3 {
	color: black;
	text-align: left;
}

/* lightbox */

.grid-container-3 {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	position: relative;
}

.grid-item-4 {
	padding: 20px;
	font-size: 55px;
	font-family: 'Cedarville Cursive', cursive;
	font-weight: 800;
	margin-left: 3rem;
}
/* javascript starts */

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
}

.modal video {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	margin-top: 7rem;
}

.close {
	position: absolute;
	top: 80px;
	right: 350px;
	font-size: 35px;
	color: #fff;
	cursor: pointer;
}

#videoThumbnail {
	cursor: pointer;
	/* Add styling for the thumbnail image */
}

#videoThumbnail:hover {
	transform: scale(1.02);
	/* Scale to 120% size */

}